<div class="bjui-pageContent">
	<form action="#" id="maintype_form"
		th:action="@{/device/maintype/{path}(path=${action})}" method="POST"
		th:object="${maintype}" data-toggle="validate" data-alertmsg="false">
		<input type="hidden" name="id" th:value="${id}" />
		<table class="table table-condensed table-hover" width="100%">
			<tbody>
				<tr>
					<td><label class="control-label x95">名称：</label> <input
						type="text" th:field="*{name}" name="name"
						data-rule="required;length[2~10];remote[device/maintype/check/nameunique, id]" size="15" /></td>
				</tr>
				<tr th:each="item : ${domains}">
					<td><label class="control-label x95"
						th:text="${item.name + ':'}"></label> <span
						th:each="i : ${perMaps['__${item.code}__']}"> <input
							type="checkbox" th:field="*{permissions}" th:value="${i.code}"
							value="" data-toggle="icheck" th:attr="data-label=${i.name}" />
							&nbsp;&nbsp;&nbsp;&nbsp;
					</span></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
		<li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
	</ul>
</div>