<div class="bjui-pageContent">
	<form action="#" id="stockin_form"
		th:action="@{/stockin/{path}(path=${action})}" method="POST"
		th:object="${stockin}" data-toggle="validate" data-alertmsg="false">
		<input type="hidden" name="id" th:value="${id}" /> <input
			id="stockin_depart" type="hidden" name="depart.id"
			th:value="${departId}" />
		<table class="table table-condensed table-hover" width="100%">
			<tbody>
				<tr>
					<td colspan="3"><label class="control-label x95">所属机构：</label>
						<label th:if="${!'create'.equals(action)}" class="control-label"
						th:text="${departmentName}"></label></td>
				</tr>
				<tr>
					<td colspan="3"><label class="control-label x95">备件信息：</label>
						<input th:if="${'create'.equals(action)}" type="text"
						data-toggle="tags" data-tagname="sparepart"
						data-url="sparepart/search/{#stockin_depart}" data-max="1"
						size="40"> </input> <label th:if="${!'create'.equals(action)}"
						class="control-label" th:text="${sparepartinfo}"></label></td>
				</tr>
				<tr>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
		<li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
	</ul>
</div>