<script type="text/javascript">
	function pic_upload_success(file, data) {
		var json = $.parseJSON(data)

		$(this).bjuiajax('ajaxDone', json)
		if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {
			$('#device_pic').val(json.filename).trigger('validate')
			$('#device_pic_showspan').remove();
			$('#device_pic_span').html(
					'<img src="device/pic/'+ json.filename +'" width="300" />')
		}
	}
</script>
<div class="bjui-pageContent">
	<form action="#" id="device_form"
		th:action="@{/device/{path}(path=${action})}" method="POST"
		th:object="${device}" data-toggle="validate" data-alertmsg="false">
		<input type="hidden" name="id" th:value="${id}" /> 
		<table class="table table-condensed table-hover" width="100%">
			<tbody>
				<tr>
					<td><label class="control-label x95">所属机构：</label> <select
						data-toggle="selectpicker" data-width="110" th:field="*{depart}">
							<option value="">请选择机构</option>
							<option th:each="item : ${departs}" th:value="${item.id}"
								th:text="${item.name}">机构信息</option>
					</select></td>
				</tr>
				<tr>
					<td colspan="2"><label class="control-label x105">生产线：</label>
						<select id="device_form_productionLine" data-toggle="selectpicker"
						data-width="150" th:field="*{productionLine}">
							<option th:each="item : ${lines}" th:value="${item.id}"
								th:text="${item.name}">生产线</option>
					</select></td>
				</tr>
				<tr>
					<td><label class="control-label x105">设备照片：</label>
						<div style="display: inline-block; vertical-align: middle;">
							<div id="device_pic_up" data-toggle="upload"
								data-uploader="device/pic/up" data-file-size-limit="1024000000"
								data-auto="true" data-file-type-exts="*.jpg;*.png;*.gif;*.mpg"
								data-on-upload-success="pic_upload_success"
								data-icon="cloud-upload"></div>

						</div></td>
					<td><input type="hidden" th:field="*{mainPic}" value=""
						id="device_pic" /> <span id="device_pic_span"></span><span
						id="device_pic_showspan" th:if="${device.mainPic!=null}"><img
							th:if="${!#strings.isEmpty(device.mainPic)}"
							th:src="@{/device/pic/{path}(path=${device.mainPic})}"
							width="300" /></span></td>
				</tr>
				<tr>
					<td><label class="control-label x105">设备名称：</label> <input
						type="text" th:field="*{name}" name="name" data-rule="required;"
						size="15" /></td>
					<td><label class="control-label x105">规格型号：</label> <input
						type="text" th:field="*{typeInfo}" name="typeInfo" size="15" /></td>
				</tr>
				<tr>
					<td><label class="control-label x105">设备编号：</label> <input
						type="text" th:field="*{code}" name="code" data-rule="required;"
						size="15" /></td>
					<td><label class="control-label x105">设备类别：</label> <select
						id="device_form_productionLine" data-toggle="selectpicker"
						data-width="150" th:field="*{mainType}">
							<option th:each="item : ${types}" th:value="${item.id}"
								th:text="${item.name}">设备类别</option>
					</select></td>
				</tr>
				<tr>
					<td><label class="control-label x105">制造厂家：</label> <input
						type="text" th:field="*{manufacturer}" name="manufacturer"
						size="15" /></td>
					<td><label class="control-label x105">出厂编号：</label> <input
						type="text" th:field="*{serialNumber}" name="serialNumber"
						size="15" /></td>
				</tr>
				<tr>
					<td><label class="control-label x105">出厂 / 投产年月：</label> <input
						type="text" th:field="*{dateInfo}" name="dateInfo" size="15" /></td>
					<td><label class="control-label x105">总重量：</label> <input
						type="text" th:field="*{weightInfo}" name="weightInfo" size="15" /></td>
				</tr>
				<tr>
					<td colspan="2"><label class="control-label x105">主要技术参数：</label>
						<textarea th:field="*{description}" name="description"
							data-toggle="autoheight" cols="80" rows="10"></textarea></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
		<li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
	</ul>
</div>