<div class="bjui-pageContent">
	<form action="#" id="storehouse_form"
		th:action="@{/device/storehouse/{path}(path=${action})}" method="POST"
		th:object="${storehouse}" data-toggle="validate" data-alertmsg="false">
		<input type="hidden" name="id" th:value="${id}" /> <input
			type="hidden" name="depart.id" th:value="${departId}" />
		<table class="table table-condensed table-hover" width="100%">
			<tbody>
				<tr>
					<td><label class="control-label x95">仓库编码：</label>  <input
						type="text" th:field="*{code}" name="code"
						data-rule="required;remote[device/storehouse/check/codeunique, id, depart.id]"
						size="15" /></td>
				</tr>
				<tr>
					<td><label class="control-label x95">仓库名称：</label>  <input
						type="text" th:field="*{name}" name="name"
						data-rule="required;remote[device/storehouse/check/nameunique, id, depart.id]"
						size="15" /></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
		<li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
	</ul>
</div>