<div class="bjui-pageContent">
	<form action="#" id="user_form"
		th:action="@{/business/user/{path}(path=${action})}" method="POST"
		th:object="${user}" data-toggle="validate" data-alertmsg="false">
		<input type="hidden" name="id" th:value="${id}" />
		<table class="table table-condensed table-hover" width="100%">
			<tbody>
				<tr>
					<td><label class="control-label x95">登录名：</label> <input
						type="text" th:field="*{username}" name="username"
						data-rule="required;remote[business/user/ajax/check/usernameunique, id]"
						size="15" /></td>
				</tr>
				<tr>
					<td><label  class="control-label x95">用户名称：</label> <input
						type="text" th:field="*{displayName}" name="displayName"
						data-rule="required;length[2~10]" size="15" /></td>
				</tr>
				<tr>
					<td><label for="j_pwschange_newpassword"
						class="control-label x95">新密码：</label> <input type="password"
						th:field="*{password}" data-rule="required" name="password"
						id="j_pwschange_newpassword" value="" placeholder="新密码" size="15" /></td>
				</tr>
				<tr>
					<td><label for="j_pwschange_secpassword"
						class="control-label x95">确认密码：</label> <input type="password"
						data-rule="required;match(password)" name=""
						id="j_pwschange_secpassword" value="" placeholder="确认新密码"
						size="15" /></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
		<li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
	</ul>
</div>