<div class="bjui-pageHeader">
	<form id="pagerForm" data-toggle="ajaxsearch"
		th:action="@{/user/page/{path}(path=${departId})}" action="#" method="POST">
		<input id="userdepart" type="hidden"  th:value="${departId}" value="10" />
		<input type="hidden" name="size" th:value="${size}" value="10" /> <input
			type="hidden" name="page" th:value="${page}" value="0" /><input
			type="hidden" name="orderField" th:value="${orderField}" /> <input
			type="hidden" name="orderDirection" th:value="${orderDirection}" />
		<div class="bjui-searchBar">
			<label>登录名称</label><input type="text" th:value="${username}" value=""
				name="username" class="form-control" size="10" />&nbsp;<label>显示名称</label><input
				type="text" th:value="${displayName}" value="" name="displayName"
				class="form-control" size="10" />&nbsp;
			<button type="submit" class="btn-default" data-icon="search">查询</button>
		</div>
	</form>
	<hr style="margin: 5px 0" />
	<div class="pull-left">
		<button sec:authorize="hasAnyAuthority('USERCREATE')" type="button"
			data-toggle="navtab" class="btn-red" data-id="user-form-new"
			data-url="user/create/{#userdepart}">新增用户</button>
		<button sec:authorize="hasAnyAuthority('USERCHANGEPASSWROD')"
			type="button" data-toggle="navtab" class="btn-green"
			data-id="user-form-restpassword"
			data-url="user/changepassword/{#bjui-selected}">修改密码</button>
	</div>
</div>
<div class="bjui-pageContent tableContent">
	<table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
		<thead>
			<tr>
				<th data-order-field="username">登录名称</th>
				<th data-order-field="displayName">显示名称</th>
				<th>角色信息</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="e : ${content}" th:attr="data-id=${e.id}">
				<td th:text="${e.username}">登录名</td>
				<td th:text="${e.displayName}">显示名称</td>
				<td>角色信息</td>
				<td><a sec:authorize="hasAnyAuthority('USERMODIFY')"
					th:href="@{/user/modify/{id}(id=${e.id})}" href="#"
					class="btn btn-green" data-toggle="navtab"
					data-id="user-modify-form" data-title="修改用户">修改</a> <a
					sec:authorize="hasAnyAuthority('USERREMOVE')"
					th:href="@{/user/remove/{id}(id=${e.id})}" href="#"
					class="btn btn-red" data-toggle="doajax" data-confirm-msg="是否确定删除">删除</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="bjui-pageFooter">
	<div class="pages">
		<span th:text="'每页 '+${size}+' 条 '">每页 0 条</span> &nbsp; <span
			th:text="',共 '+${total}+' 条 '">共 0 条</span>
	</div>
	<div class="pagination-box" data-toggle="pagination"
		th:attrappend="data-total=${total},data-page-size=${size},data-page-current=${page}">
	</div>
</div>