<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>马钢气体销售公司设备管理系统</title>

<link th:href="@{css/bootstrap/3.0.2/css/bootstrap.min.css}"
	rel="stylesheet" />

<link th:href="@{css/style.css}" rel="stylesheet" />


</head>

<body>
	<div class="wrapper">
		<form class="form-signin" th:action="@{/login}" method="post">
			<h3 class="form-signin-heading">马钢 气体公司设备管理</h3>
			<div th:if="${param.error}" class="alert alert-error">
				用户名密码错误，登录失败！</div>
			<div th:if="${param.logout}" class="alert alert-success">
				您已经登出系统！</div>
			<input type="text" class="form-control" name="username"
				placeholder="用户名" required="" autofocus="" /> <input
				type="password" class="form-control" name="password"
				placeholder="密码" required="" />
			<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
		</form>
	</div>

	<script th:src="@{BJUI/js/jquery-1.7.2.min.js}"></script>
	<script th:src="@{BJUI/plugins/bootstrap.min.js}"></script>
</body>
</html>
