<script type="text/javascript">
	/*<![CDATA[*/
	function myCheckInfoCallback(json) {
		var that = this;
		var $element = that.$element;
		that.ajaxDone(json);
		if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {
			if (json.tabid)
				setTimeout(function() {
					that.$element.navtab('reloadFlag', json.tabid)
				}, 100);
			if (json.closeCurrent && !json.forward)
				that.$element.navtab('closeCurrentTab');
			//为保证新增操作连续性操作完成后保留所属设备相关信息,清空name 及 参数 输入空间
			var $id = $element.find("input[name=id]").val();
			if (!$id) {
				//清空checkDate
				$element.find("input[name=checkDate]").val("");
				//清空nature
				$element.find("input[name=nature]").val("");
				//清空projectCode
				$element.find("input[name=projectCode]").val("");
				//清空content
				$element.find("textarea[name=content]").val("");
				//清空replacement
				$element.find("textarea[name=replacement]").val("");
				//清空implementation
				$element.find("input[name=implementation]").val("");
				//清空evaluation
				$element.find("input[name=evaluation]").val("");
				//清空replacement
				$element.find("textarea[name=description]").val("");
			}
		}
	}/*]]>*/
</script>
<div class="bjui-pageContent">
	<form action="#" id="checkInfo_form"
		th:action="@{/device/checkInfo/{path}(path=${action})}" method="POST"
		th:object="${deviceCheckInfo}" data-toggle="validate"
		data-callback="myCheckInfoCallback" data-reload="false"
		data-alertmsg="false">
		<input type="hidden" name="id" th:value="${id}" />
		<table class="table table-condensed table-hover" width="100%">
			<tbody>
				<tr>
					<td colspan="2"><label class="control-label x95">所属设备信息：</label>
						<input th:if="${'create'.equals(action)}" type="text"
						data-toggle="tags" data-tagname="device.id" data-width="700"
						data-url="device/search/" data-max="1" size="40"> </input> <label
						th:if="${!'create'.equals(action)}" class="control-label"
						th:text="${deviceinfo}"></label> <input
						th:if="${!'create'.equals(action)}" type="hidden" name="device.id"
						th:value="${deviceCheckInfo.device.id}" /></td>
				</tr>
				<tr>
					<td><label class="control-label x95">检修时间：</label> <input
						th:field="*{checkDate}" name="checkDate" data-toggle="datepicker"
						data-rule="date" size="20" /></td>
					<td><label class="control-label x95">检修性质：</label> <input
						th:field="*{nature}" name="nature"></input></td>

				</tr>
				<tr>
					<td colspan="2"><label class="control-label x95">项目编号：</label>
						<input th:field="*{projectCode}" name="projectCode"></input></td>
				</tr>
				<tr>
					<td colspan="2"><label class="control-label x95">内容：</label> <textarea
							th:field="*{content}" name="content" data-toggle="autoheight"
							data-rule="required;" cols="60" rows="6"></textarea></td>
				</tr>

				<tr>

					<td colspan="2"><label class="control-label x95">备件更换情况：</label>
						<textarea th:field="*{replacement}" name="replacement"
							data-toggle="autoheight" cols="60" rows="6"></textarea></td>

				</tr>
				<tr>
					<td><label class="control-label x95">施工单位：</label> <input
						th:field="*{implementation}" name="implementation"></input></td>
					<td><label class="control-label x95">质量评价：</label> <input
						th:field="*{evaluation}" name="evaluation"></input></td>

				</tr>

				<tr>
					<td colspan="2"><label class="control-label x95">备注：</label> <textarea
							th:field="*{description}" name="description"
							data-toggle="autoheight" cols="60" rows="6"></textarea></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
		<li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
	</ul>
</div>