<div class="bjui-pageHeader">
	<form id="pagerForm" data-toggle="ajaxsearch"
		th:action="@{/device/checkInfo/page}" action="#" method="POST">
		 <input type="hidden"
			name="size" th:value="${size}" value="10" /> <input type="hidden"
			name="page" th:value="${page}" value="0" /><input type="hidden"
			name="orderField" th:value="${orderField}" /> <input type="hidden"
			name="orderDirection" th:value="${orderDirection}" />
		<div class="bjui-searchBar">
			<label>设备名称</label><input type="text"  value=""
				name="device.name" th:value="${devicename}" class="form-control" size="10" />&nbsp;<label>设备编码</label><input
				type="text"  value="" name="device.code" th:text="${devicecode}"
				class="form-control" size="10" />&nbsp;
			<button type="submit" class="btn-default" data-icon="search">查询</button>
		</div>
	</form>
	<hr style="margin: 5px 0" />
	<div class="pull-left">
		<button 
			sec:authorize="hasAnyAuthority('DEVICECHECKINFOCREATE')" type="button"
			data-toggle="navtab" class="btn-red" data-id="device-checkInfo-form-new"
			data-url="device/checkInfo/create/">新增检修（技改）信息</button>
			<button 
			sec:authorize="hasAnyAuthority('DEVICECHECKINFOLIST')" type="button"
			data-toggle="navtab" class="btn-red" data-id="device-adjustment-detail"
			data-url="device/checkInfo/detail/{#bjui-selected}">详细信息</button>
	</div>
</div>
<div class="bjui-pageContent tableContent">
	<table data-toggle="tablefixed" data-width="120%" data-nowrap="true">
		<thead>
			<tr>
				<th data-order-field="e.depart.name">所属设备</th>
				<!-- 
				<th>设备示意图</th>
				 -->
				<th data-order-field="checkDate">检修日期</th>
				<th data-order-field="nature">性质</th>
				<th data-order-field="projectCode">项目编号</th>
				<th data-order-field="content">项目内容</th>
				<th data-order-field="evaluation">质量评价</th>
				<th data-order-field="implementation">实施单位/人</th>
				<th width="100" >操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="e : ${content}" th:attr="data-id=${e.id}">
				<td th:text="${e.device.name}">所属设备</td>
				<!-- <td ><img th:if="${!#strings.isEmpty(e.device.mainPic)}"
					th:src="@{/device/pic/{path}(path=${e.device.mainPic})}" width="180" height="100" /></td> -->
				<td th:text="${#temporals.format(e.checkDate, 'yyyy-MM-dd')}">检修日期</td>
				<td th:text="${e.nature}">性质</td>
				<td th:text="${e.projectCode}">项目编号</td>
				<td th:text="${#strings.abbreviate(e.content,30)}">项目内容</td>
				<td th:text="${e.evaluation}">质量评价</td>
				<td th:text="${e.implementation}">实施单位/人</td>
				<td ><a sec:authorize="hasAnyAuthority('DEVICECHECKINFOMODIFY')"
					th:href="@{/device/checkInfo/modify/{id}(id=${e.id})}" href="#"
					class="btn btn-green" data-toggle="navtab"
					data-id="device-checkInfo-form--modify" data-title="修改檢修（技改）信息">修改</a> <a
					sec:authorize="hasAnyAuthority('DEVICECHECKINFOREMOVE')"
					th:href="@{/device/checkInfo/remove/{id}(id=${e.id})}" href="#"
					class="btn btn-red" data-toggle="doajax" data-confirm-msg="是否确定删除">删除</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="bjui-pageFooter">
	<div class="pages">
		<span th:text="'每页 '+${size}+' 条 '">每页 0 条</span> &nbsp; <span
			th:text="',共 '+${total}+' 条 '">共 0 条</span>
	</div>
	<div class="pagination-box" data-toggle="pagination"
		th:attrappend="data-total=${total},data-page-size=${size},data-page-current=${page}">
	</div>
</div>